.body-margin {
    margin: 0;
}

.back-img {
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textHead {
    padding-top: 200px;
    padding-bottom: 25px;
    font-weight: 700;
    text-align: center;
    font-size: 55px;
    padding-left: 22%;
    padding-right: 22%;
    color: white;
}

.textPara {
    color: white;
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 22%;
    padding-right: 22%;
}

.Btn {
    color: white;
    text-align: center;
    font-size: 25px;
    border: 1px solid white;
    margin-left: 700px;
    padding: 15px 30px;
    background-color: brown;
    border-radius: 15px;
}

#no-underline {
    text-decoration: none;
}

.btn-pad-mar {
    padding-bottom: 150px;
}

.textHead-Minus {
    padding-top: 100px;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    padding-left: 25%;
    padding-right: 25%;
    color: black;
}

.textPara-Minus {
    color: black;
    text-align: center;
    font-size: 22px;
    padding-bottom: 30px;
    padding-left: 25%;
    padding-right: 25%;
}

.felx-display {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 60px;
}

.half-width {
    width: 100%;
    text-align: center;

    margin-left: 5px;
    margin-right: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
}

.half-width-plus {
    width: 100%;
    text-align: center;

    margin-left: 5px;
    margin-right: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    background-color: rgb(250, 178, 149);
    border: 2px solid rgb(253, 120, 96);
    color: rgb(212, 51, 22)
}

.textPara-Minus-Extended {

    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.margin-50 {
    margin-bottom: 50px;
}

.margin-minus {
    margin-top: -150px;
}

.half-width-one {
    text-align: left;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(226, 242, 252);
    margin-left: 5%;
    border-radius: 10px;
}

.half-width-two {
    text-align: left;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(250, 228, 231);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

.half-width-three {
    text-align: left;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5%;
    background-color: rgb(253, 253, 225);
    border-radius: 10px;
}